body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.woff2');
    /* IE9+ */
}

* {
    font-family: 'Gotham-Book';
    background-attachment: fixed;
    outline: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
*{
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
}
.chat_room_history .content, .chat_room_history .system span,.chat_room_history .item .user,input,textarea{
    -moz-user-select:text; /*火狐*/
    -webkit-user-select:text; /*webkit浏览器*/
    -ms-user-select:text; /*IE10*/
    -khtml-user-select:text; /*早期浏览器*/
    user-select:text;
}

[v-cloak] {
    visibility: hidden !important;
}

body {
    display: flex;
    align-items: center;
    /*定义body的元素垂直居中*/
    justify-content: center;
    /*定义body的里的元素水平居中*/
}

::-webkit-scrollbar {
    width: 5px;
    /*对垂直流动条有效*/
    height: 5px;
    /*对水平流动条有效*/
}


/*定义滚动条的轨道颜色、内阴影及圆角*/

::-webkit-scrollbar-track {
    /* background-color: rgba(50, 50, 50, 0.1); */
    background-color: white;
    border-radius: 5px;
}


/*定义滑块颜色、内阴影及圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}


/*定义两端按钮的样式*/

::-webkit-scrollbar-button {
    background-color: transparent;
}


/*定义右下角汇合处的样式*/

::-webkit-scrollbar-corner {
    background: transparent;
}
.giftTips{
    text-align: right;
    color: #999;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.room_list {
    position: fixed;
    right: 20px;
    top: 20px;
    bottom: 20px;
    width: 320px;
    background-color: #eee;
}

.room_list .room_body {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.room_list .room_item {
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
    height: 80px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.room_list .room_header {
    padding: 10px;
    background-color: white;
}

.room_list .room_title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
}

.room_list .room_name {
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding-right:60px;
}

.room_list .room_master {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 0;
}

.room_list .room_user {
    font-size: 14px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room_list .room_img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 10px;
}

.room_list .room_info {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding-left: 50px;
}

.room_list .room_notice {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}

.room_list .room_id {
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 10px;
}
.room_list .room_id span{
    background-color: #f5f5f5;
    color: #666;
    padding: 2px 5px;
    border-radius:5px;
}

.room_list .room_icon {
    color: #666;
    font-weight: bolder;
}

.chat_room .room_icon {
    color: #666;
    font-weight: bolder;
    cursor: pointer;
    color:orangered;
}

.showUserProfile {
    width: 400px;
    margin-top: 40vh!important;
    box-shadow: none;
    border-radius: 10px!important;
    padding: 0px!important;
}

.showUserProfile .el-dialog__body {
    padding: 0;
    border: none;
}

.showUserProfile .el-dialog__headerbtn {
    z-index: 99;
}

.showUserProfile .el-dialog__header {
    height: 0px;
    padding: 0px;
    display: none;
}

.lockscreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
}

.lockBg {
    position: fixed;
    left: -25%;
    right: -25%;
    top: -25%;
    bottom: -25%;
    width: 150%;
    height: 150%;
    filter: blur(50px);
    z-index: -1;
}

.link .title {
    font-size: 16px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-weight: bold;
}

.link .desc {
    font-size: 12px;
    color: #999;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-left: 50px;
    min-height: 30px;
}

.link .url {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 12px;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    color: #999;
}

.chat_room_toolbar button {
    font-size: 14px;
    font-weight:normal;
}
.link .img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
}
.lockImg{
    display: inline-block;
    position: relative;
    padding: 30px;
}
.lockImg img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.lockTitle {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.lockLrc {
    font-size: 24px;
    margin-top: 30px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.lockCover{
    background: transparent url(../images/player_bg.png);
    background-size: 360px 360px;
    width: 360px;
    height: 360px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.lockBar{
    background: transparent url(../images/player_bar.png) top left no-repeat;
    width: 150px;
    background-size: 150px auto;
    height: 400px;
    position: absolute;
    left: 180px;
    right: 0;
    top: -50px;
    bottom: 0;
}
.lockscreen .copyright{
    position: absolute;
    right:20px;
    bottom:20px;
    color:rgba(255,255,255,0.5);
    text-shadow:0px 0px 1px rgba(255,255,255,0.3);
    font-size:12px;
}
.at_box {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.lrcbox {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #999;
}
.video_player{
    display:block;
    position: fixed;
    right:5px;
    top:60px;
    /* pointer-events:none; */
}
.video_player span{
    color: #ccc;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}
.video_player_full{
    bottom:121px;
    left:0;
    right:0;
}
.video_player_full iframe{
    width:100%;
    height:100%;
}
.el-form-item {
    margin-bottom: 20px;
}

.love {
    -webkit-animation: rotate 20s linear infinite;
    -moz-animation: rotate 20s linear infinite;
    -o-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
}
.love-fast {
    -webkit-animation: rotate 5s linear infinite;
    -moz-animation: rotate 5s linear infinite;
    -o-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
}

.el-slider__button {
    border-color: #333!important;
}

.el-slider__bar {
    background-color: #333!important;
}

.player_body {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    width: 250px;
    overflow: hidden;
    right: 10px;
    bottom: 130px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.player_bg {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    filter: blur(10px);
    background-color: #333333;
    width: 100%;
    height: 100%;
    background-position: center;
}

.el-message-box .item {
    display: inline-block;
}

.player_body>* {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.user_device {
    color: #333;
    border-radius: 100%;
    cursor: pointer;
    font-size: 16px;
}
.player_img {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.player_img i {
    font-size: 56px;
    color: white;
    text-shadow: none;
    position: absolute;
    left: 0;
    top: -3px;
    /* font-weight: bolder; */
    cursor: pointer;
}

.player_img img {
    border-radius: 100%;
    cursor: pointer;
}

.player_title {
    font-size: 16px;
    margin-left: 60px;
    font-weight: bolder;
}

.player_title marquee {
    margin-right: 60px;
}

.player_title i {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 28px;
    text-shadow: none;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.player_name {
    color: #eee;
    margin-left: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    cursor: pointer;
}

.player_body .el-progress-bar {
    padding-right: 0;
}

.player_body .el-progress-bar__outer {
    background-color: rgba(0, 0, 0, 0.3);
}

.chat_room {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 0;
}

.volume {
    position: fixed!important;
    right: 10px;
    bottom: 210px;
    z-index: 100;
}

.online_user {
    margin-bottom: 20px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.online_user img {
    border-radius: 100%;
    width: 38px;
    height: 38px;
    border: 1px solid #eee;
    cursor: pointer;
}


.rank_user {
    margin-bottom: 20px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    height:40px;
    margin-top:20px;
}

.rank_user img {
    border-radius: 100%;
    width: 38px;
    height: 38px;
    border: 1px solid #eee;
    cursor: pointer;
}

.rank_user * {
    vertical-align: middle;
}
.rank_user .number{
    position: absolute;
    right:10px;
    top:0px;
}
.rank_user .user_name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size:16px;
    color:#333;
}
.rank_user .user_remark{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size:12px;
    color:#999;
}

.rank_user .rankNum{
    font-size:16px;
    color:#333;
    font-weight:bold;
    position: absolute;
    left:0;
    top:8px;
}

.online_user * {
    vertical-align: middle;
}

.el-table::before {
    height: 0 !important;
}

.pickedSongBox {
    display: fixed !important;
    left: 20px !important;
    bottom: 170px !important;
    width: 400px;
}

.pickedSongBox .loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pickedSongBox .list {
    position: relative;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    display: inline-block;
}

.pickedSongBox a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pickedSongBox thead {
    display: none;
}

.pickedSongBox tr {
    cursor: pointer;
}

.player {
    float: right;
}

.player .lrc {
    width: 200px;
}

.player .current {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #67c23a;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.chat_room_input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    padding: 10px 15px;
    border-top: 1px solid #eee;
}

.el-dialog__body {
    padding: 5px 20px;
}

.user_sex {
    margin-right: 5px;
    cursor: pointer;
}

.icon-xingbie-nv {
    color: #FE9898;
}

.icon-xingbie-nan {
    color: #66CBFF;
}

.top_area {
    position: fixed;
    right: 20px;
    top: 10px;
}

.pet {
    position: fixed;
    right: 280px;
    bottom: 100px;
    width: 200px;
    z-index: 99;
    cursor: pointer;
}

.pet img {
    width: 100%;
    height: 100%;
}

.chat_room_toolbar {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 125px;
}

.chat_room_history {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 120px;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 90px;
    /*scroll-behavior: smooth;*/
    /* z-index:-1; */
    /* background: #fff url(/images/footer.png) no-repeat;
    background-size:  100% 300px;
    background-position: bottom center; */
}


.submit-area .el-form-item__content {
    margin-left: 10px!important;
}

.searchImageBox {
    display: fixed!important;
    left: 20px!important;
    max-width: 300px;
    bottom: 170px!important;
}

.searchImageBox .loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.searchImageBox .list {
    position: relative;
    width: 300px;
    min-height: 100px;
    display: inline-block;
}

.searchImageBox img {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

audio {
    position: absolute;
    left: 10px;
    top: 10px;
}

.searchSongBox {
    display: fixed !important;
    left: 20px !important;
    bottom: 170px !important;
    width: 400px;
}

.searchSongBox .loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.searchSongBox .list {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: inline-block;
}

.searchSongBox a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.searchSongBox thead {
    display: none;
}

.searchSongBox tr {
    cursor: pointer;
}

.chat_room_message {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    outline: none;
    resize: none;
    background-color: transparent;
}

.chat_room_send {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.chat_room_send .el-button{
    font-weight:normal;
}

.chat_room_history .system {
    text-align: center;
    margin: 10px 0px;
}

.chat_room_history .system span {
    background-color: #eee;
    color: #999;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    max-width: 80%;
}

.chat_room_history .item {
    position: relative;
    margin: 0px 30px;
}
.chat_room_history .item .user_sex{
    position: absolute;
    left:30px;
    top:30px;
}
.chat_room_history .item .time{
    font-size:12px;
    color:#ccc;
    text-align:left;
    margin:0px 50px;
    margin-top:-10px;
    padding-bottom:20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position:absolute;
    left:0;
    max-width:40%;
}
.chat_room_history .item .time div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:14px;
    color:#999;
}
.chat_room_history .mine .time{
    font-size:12px;
    color:#aaa;
    text-align:right;
    right:0;
    left:auto;
}

.chat_room_history .item .head {
    position: absolute;
    left: 0px;
    top: 0px;
}

.chat_room_history .mine .head {
    position: absolute;
    right: 0px;
    left: auto;
    top: 0px;
}

.chat_room_history .item .head img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border:1px solid #eee;
    cursor: pointer;
}
.chat_room_history .item .body {
    margin-left: 50px;
    margin-top: 20px;
    text-align: left;
    padding-bottom:20px;
}

.chat_room_history .mine .body {
    margin-left: auto;
    margin-right: 50px;
    margin-top: 20px;
    text-align: right;
}

.chat_room_history .item .body .user {
    font-size: 14px;
}

.chat_room_history .item .body .content {
    overflow: hidden;
    text-align: left;
    display: inline-block;
    max-width: 40%;
    background-color: #eee;
    padding: 8px 15px;
    margin: 10px 0px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
}

.chat_room_history .item .body .img {
    padding: 1px;
}

.chat_room_history .item .body .img img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.chat_room_history .item .body .content a {
    text-decoration: none;
    color: orangered;
}

#room_enter {
    width: 400px;
}

.room_enter_message {
    margin-bottom: 20px;
    font-size: 14px;
    color: #999;
}

#room_create {
    width: 600px;
}

.isAdmin {
    margin-left: 2px;
    font-size: 12px;
    cursor: pointer;
}

.room-title {
    color: #333;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.login{
    position: fixed;
    left:0;right:0;
    top:0;bottom:0;
    background: #eee;
    justify-content:center;
    align-items:center;
    display:-webkit-flex;
}
.login_form{
    width:400px;
    background-color: white;
    padding: 10px 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    position: relative;
}
.login_guest{
    position: absolute;
    right: 20px;
    top:20px;
}
.login_form_title{
    margin-bottom:20px;
    padding:10px 20px;
    font-size:18px;
}
.login .submit-area .el-link {
    margin-right: 5px;
}

.login-send-password {
    cursor: pointer;
}

.submit-area {
    text-align: right;
    margin-bottom: 0px!important;
}

.allLine {
    display: block;
}
.addMySong{
    cursor: pointer;
    position:absolute;right:38px;top:8px;font-size:22px;
}
.rightMenu {
    position: fixed;
    right: 10px;
    top: 10px;
}
.rightMenu .el-button{
    font-weight:normal;
}

@media only screen and (max-width: 640px) {
    .hideWhenScreenSmall {
        display: none;
    }
    .player_body {
        right: 8px;
        bottom: 125px;
    }
    .player_title i {
        display: none;
    }
    .player_title marquee {
        margin-right: 0;
    }
    .el-message-box {
        width: 80%;
    }
    .el-dialog{
        width:100%!important;
        height:100%!important;
        margin:0!important;
    }
    .showUserProfile {
        left: 0px!important;
        right: 0px!important;
        bottom: 160px!important;
        padding: 10px;
        width: 95%!important;
        width:auto!important;
        height:auto!important;
        margin-top:40vh!important;
    }
    #room_create {
        width: auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .login {
        width: 100%;
        position: fixed;
        background-color: white;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .chat_room_history .content {
        max-width: 80%!important;
    }
    .player_body {
        width: 50px;
    }
    .searchSongBox {
        left: 10px!important;
        right: 10px!important;
        bottom: 160px!important;
        padding: 10px;
        width: auto!important;
    }
    .pickedSongBox {
        left: 10px!important;
        right: 10px!important;
        bottom: 160px!important;
        padding: 10px;
        width: auto!important;
    }
    .pickedSongBox {
        left: 10px!important;
        right: 10px!important;
        bottom: 160px!important;
        padding: 10px;
        width: auto!important;
    }
    .chat_room_history .item {
        margin: 0px 10px;
    }
    .chat_room_history {
        padding-bottom: 90px;
    }
    .pet {
        display: none;
    }
    .chat_room_toolbar button {
        font-size: 12px;
    }
}

.scroll-to-bottom {
    z-index: 100;
    position: fixed;
    right: 10px;
    bottom: 215px;
    font-weight:normal;
}

.notify-at-goto {
    display: inline-block;
    padding: 0 8px;
    color: #0098ff;
    cursor: pointer;
}

.quote {
    display: block;
    padding: 1px 5px;
    margin: 3px;
    background-color: #efefef;
    border-radius: 4px;
    font-size:12px!important;
}